:-moz-placeholder {
 color: blue;
}
::-webkit-input-placeholder {
 color: rgb(125,125,125);
}
*:focus {
	outline: none;
}
.contact_form {
	font: 14px sans-serif;
	position: absolute;
	left: 20%;
	margin-top: 0px; 
}
.contact_form h2, .contact_form label {
	font-family: sans-serif;
}
.form_hint, .required_notification {
	font-size: 11px;
}
.contact_form ul {
 	width:450px;
 	list-style-type:none;
 	list-style-position:outside;
 	margin:0px;
 	padding:0px;
}
.contact_form li{
	padding:12px;
	position:relative;
}
.contact_form h2{
	margin-left: 130px;
	display: inline;
}
.contact_form label {
 	width: 150px;
 	margin-top: -2px;
 	display: inline-block;
 	float: left;
 	text-align: right;
 	padding: 3px;
}
.contact_form input {
 	height:20px;
 	width:220px;
 	padding:5px 8px;
}
.contact_form button {
	margin-left:150px;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
.angel_light{
	position: absolute;
	width: 300px;
	height: 300px;
	left: 0%;
}
/*<img class="angel_dark" src = "https://cdn.pixabay.com/photo/2015/09/15/19/06/angel-941567_960_720.png">
.angel_dark {
	top: 10%;

}*/
/*allsmallgroups
*/